#localVideo {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#localVideoHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(119, 14, 139);
  color: #fff;
}

.vision-container {
	flex-direction: column;
  height: 100vh;
}

.vision-navbar {
	background-color: rgb(61, 123, 194);
}

.blog {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
}