body {
  font-family: "Roboto";
}

nav {
  margin: 0;
  padding: 0;
}

/* Useful in Flexbox container to line things up horizontally to left  */
.justify-left {
  flex-direction: row;
  justify-content: flex-start;
}

/* Useful in Flexbox container to line things up horizontally to right */
.justify-right {
  flex-direction: row;
  justify-content: flex-end;
}


/*********************************************************************************************
 * navbar styling
 ********************************************************************************************/

/* The main navbar styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  margin: 10;
  padding: 10;
  
  background-color: rgb(238, 203, 88);
  height: 2.5em;
}

/* Navbar split into sections horizontally */
.navsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  margin: 10;
  padding: 10;
  background-color: rgb(238, 203, 88);
  height: 2.5em;
}

.navbar-item {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin: 4px;
  text-decoration: none;
  /* line-height: 10px; */
  font-weight: bold;
  height: 4em;
}

/* Change the link color to #111 (black) on hover */
.navbar a:hover {
  color: rgb(113, 47, 218);
  cursor: pointer;
}

/* Styling for a dropdown element */
.dropdown {
  display: block;
}

.dropdown-content {
  display: None;
  position: absolute;

  background-color: #adadad;
  /* min-width: 160px; */
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-item {
  color: black;
  padding: 8px 12px;
  text-decoration: none; /* Don't underline*/
  display: block;  /*<a> is inline by default.  We want it as a block to show vertically*/
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e7d998;
}

.dropbtn {
  color: rgb(0, 0, 0);
  text-decoration: none;
/*   line-height: 10px; */
  font-weight: bold;
}

/* When we hover over the dropdown element, or its content, we will set display from 
   none to block so that it appears
 */
.dropdown:hover .dropdown-content {
  display: block;
 /*  flex-direction: column; */
}

head {
  margin: 0;
  padding: 0;
}

.button {
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgb(185, 185, 185);
  margin: 4px;
  padding: 4px;
}

/**********************************************************************************
 * Main grid container 
 * Grid layout
 *
 * 1               2                                              3                  4
 * +=================================================================================+ 1
 * |                          NavBar (.navbar-grid-area)                             |
 * +===============+==============================================+==================+ 2
 * | .user-sidebar |          .main-body                   | .extra-sidebar   |
 * |               |                                              |                  |
 * |               |                                              |                  |
 * |               +==============================================+                  | 3
 * |               |          .chat-input                         |                  |
 * +=================================================================================+ 4
 */
.app {
  display: grid;
  grid-template-columns: 1.5fr 6fr 1.5fr;
  grid-template-rows: auto auto minmax(100%, 1fr);
  /* height: 100%; */
  height: 97vh;
}

/*
 * This will span the whole grid first row
 */
.navbar-grid-area {
  grid-column: 1 / 4;
  grid-row-start: 1;
  position: sticky;
  top: 0;
  z-index: 10;
}

.user-sidebar {
  grid-row-start: 2;
  grid-row-end: -1;
  background-color: black;
}

.chat-input {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  position: sticky;
  bottom: 0;
}

.extra-sidebar {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 3;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  border-left: 1px solid;
}

.main-body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-anchor: none;
  align-self: end;
}

/* End grid layouyt
 ***********************************************************************************/

.username {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 8px 4px;
}

.user-section {
  margin: 0;
  padding: 10px 0;
  position: fixed;
  /* display: flex;
  flex-direction: column; */
}

.highlighted {
  color: rgb(75, 162, 173);
}

.user-header {
  color: white;
  /* display: flex;
  align-items: center; */
}

.users {
  text-align: left;
  /* display: flex;
  flex-direction: column; */
}

h2.user-header {
  margin: 0;
  padding: 6px 0;
}

div.user-section ul {
  padding: 10px;
}

.user-avatar{
  display: flex;
  align-items: center;
}

.username:hover {
  color: rgb(247, 215, 112);
}

.icon-left {
  text-align: left;
  margin: 0 6px;
  display: inline-block;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chat-input input[type=text] {
  padding: 5px 0;
  font-size: 17px;
  border: 1px solid grey;
  /* float: left; */
  background: #f1f1f1;
  width: 85%;
}

.chat-input button {
  /* float: right; */
  padding: 5px 0;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  width: 15%;
}

.chat-input button:hover {
  background: #0bda3f;
}

.field-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
}

.localVideo {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.localVideoHeader {
  display: flex;   /* Span the contents across the header horizontally */
  flex-grow: 1;    /* Make sure we fill up available space */
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(119, 14, 139);
  color: #fff;
}

.video-header-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;  /* make sure the section spans across */
}

.webcam-button {
  padding: 0 8px;
}

.webcam-resize {
  cursor: nwse-resize;
}

.vision-container {
	flex-direction: column;
  height: 100vh;
}

.vision-navbar {
	background-color: rgb(145, 171, 201);
}

.blog {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.hide {
  display: hidden
}

.chat-text {
  width: 100%;
  font-size: large;
}

.message {
  border: 2px solid rgb(53, 56, 65);
  border-radius: 8px;
  text-align: justify;
  margin: 8px;
  background-color: darkgrey;
}

.message strong,p {
  margin: 8px;
  padding: 8px;
}

.message strong {
  text-decoration: underline;
}

.message.user-highlight {
  border: 2px solid rgb(84, 99, 150);
  background-color: #e7d998;
}

.column ul {
  margin: 8px;
  padding: 0px;
}

.nested-menu {
  display: None;
  position: absolute;
  margin: 12x;
  padding: 8px;

  background-color: #adadad;
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
  z-index: 2;
  left: calc(100% + 0px);
  top: 66%;
}

.sub-menu:hover .nested-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* .chat-window * {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

/**/
.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.user-popup-hidden {
  display: none;
}

.user-popup-enabled {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: #adadad;
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
  overflow: visible;
}

.tab-nav {
  display: flex;
  flex-direction: column;
}

.active-tab {

}

.inactive-tab {
  display: none
}